.container {
    height: calc(100% - 64px);
    background: #eee;

    .side-nav-container {
        width: 250px;
    }

    .content-container {
        margin-left: 250px;

        // height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // justify-content: center;
        margin-top: 20px;

        .profile-card {
            text-align: center;

            img {
                border-radius: 50%;
            }
        }

        .diary-group-update-card {
            text-align: center;

            .card-actions {
                text-align: right;
            }
        }

        & > div {
            width: 500px;

            .fill {
                width: 95%;
            }

            .mat-list-icon {
                cursor: pointer;
            }
        }
    }
}
