.container {
    height: calc(100% - 64px);
    background: #eee;

    .side-nav-container {
        width: 250px;
    }

    .content-container {
        margin-left: 250px;

        // height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .diary-section {
            width: 99%;
            height: 100%;
            overflow-y: scroll;

            .diary-item {
                display: flex;
                flex-direction: row;
                margin: 5px 0;

                .position {
                    font-weight: bold;
                }

                img {
                    height: 40px;
                    border-radius: 10%;
                    margin-left: 5px;
                }

                .main-body {
                    margin-left: 5px;
                    width: 100%;

                    .header-section {
                        padding-bottom: 5px;
                        display: flex;
                        justify-content: space-between;

                        .title-section {
                            span:first-child {
                                font-weight: bolder;
                            }

                            span:last-child {
                                font-size: 14px;
                            }
                        }

                        .time-section {
                            text-align: right;
                            font-size: 14px;
                        }
                    }

                    .content-section {
                        .particular-section {
                            padding-left: 4em
                        }
                    }

                    hr {
                        opacity: 0.3;
                    }
                }
            }
        }


        .comment-section {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-bottom: 10px;
            width: 98%;

            form {
                width: 100%;

                .select-field {
                    width: 30%;
                }

                .text-field {
                    width: 50%;
                }

                .status-field {
                    width: 20%;
                }
            }
        }

    }
}
