.container {
    height: calc(100% - 64px);
    background: #eee;

    .side-nav-container {
        width: 250px;
    }

    .content-container {
        margin-left: 250px;

        // height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .diary-section {
            width: 98%;
            height: 100%;
            overflow-y: scroll;

            .diary-item {
                display: flex;
                flex-direction: row;
                margin: 12px 0;

                img {
                    height: 40px;
                    border-radius: 10%;
                }

                .main-body {
                    margin-left: 5px;

                    .header {
                        margin-bottom: 5px;

                        .name {
                            font-weight: bolder;
                            margin-right: 5px;
                        }
                    }

                    // div:last-child {

                    // }
                }
            }
        }


        .comment-section {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-bottom: 10px;
            width: 98%;

            form {
                width: 100%;

                .select-field {
                    width: 30%;
                }

                .text-field {
                    width: 60%;
                }

                .status-field {
                    width: 10%;
                }
            }
        }

    }
}
