<mat-sidenav-container class="container" autosize>
    <mat-sidenav mode="side" opened class="side-nav-container">
        <mat-nav-list>
            <ng-container *ngFor="let diaryGroup of diaryService?.getDiaryGroups() | async">
                <mat-list-item (click)="selectDiaryGroup(diaryGroup)">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <div mat-line>{{diaryGroup.name}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            <mat-list-item (click)="addDiaryGroup()">
                <mat-icon mat-list-icon>add_circle</mat-icon>
                <div mat-line>Add Diary Group</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
        <div class="diary-section" #scrollMe (scroll)="onScroll()">
            <div class="diary-item" *ngFor="let diaryEntry of diaryService?.getDiaryEntries() | async; let last = last; let index = index">
                <span class="position">{{index + 1}}</span>
                <img src="https://placekitten.com/200/200" alt="Avatar">
                <div class="main-body">
                    <div class="header-section">
                        <div class="title-section">
                            <span>Dummy Title</span>
                            <br/>
                            <span>{{diaryEntry?.userFullName}}</span>
                        </div>
                        <div class="time-section">
                            <span>{{diaryEntry.createdTime?.toDate() | date: 'fullDate'}}</span>
                            <br/>
                            <span>{{diaryEntry.createdTime?.toDate() | date: 'mediumTime'}}</span>
                        </div>
                    </div>
                    <div class="content-section">
                        <div>{{diaryEntry?.events}}</div>
                        <div class="particular-section" *ngIf="diaryEntry?.particulars">{{diaryEntry?.particulars}}</div>
                        <div *ngIf="diaryEntry?.status">{{diaryEntry?.status}}</div>
                    </div>
                    <hr *ngIf="!last">
                </div>
            </div>
        </div>

        <div class="comment-section">
            <form class="form" [formGroup]="diaryEntryForm">
                <mat-form-field class="select-field">
                    <mat-label>Events</mat-label>
                    <mat-select [formControl]="diaryEntryForm.get('events')">
                        <mat-option *ngFor="let event of eventOptions" [value]="event.value">
                            {{event.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="text-field">
                    <mat-label>Particulars</mat-label>
                    <textarea matInput [formControl]="diaryEntryForm.get('particulars')"></textarea>
                </mat-form-field>
                <mat-form-field class="status-field">
                    <mat-label>Events</mat-label>
                    <mat-select [formControl]="diaryEntryForm.get('status')">
                        <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                            {{status.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <button
                mat-raised-button
                [disabled]="diaryEntryForm.invalid"
                color="primary"
                (click)="onSubmit()">Submit</button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
