<mat-sidenav-container class="container" autosize>
    <mat-sidenav mode="side" opened class="side-nav-container">
        <mat-nav-list>
            <ng-container *ngFor="let diaryGroup of diaryService?.getDiaryGroups() | async">
                <mat-list-item (click)="selectDiaryGroup(diaryGroup)">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <div mat-line>{{diaryGroup.name}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            <mat-list-item (click)="addDiaryGroup()">
                <mat-icon mat-list-icon>add_circle</mat-icon>
                <div mat-line>Add Diary Group</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
        <div class="diary-section" #scrollMe (scroll)="onScroll()">
            <div class="diary-item" *ngFor="let diaryEntry of diaryService?.getDiaryEntries() | async">
                <img src="https://placekitten.com/200/200" alt="Avatar">
                <div class="main-body">
                    <div class="header">
                        <span class="name">{{diaryEntry?.userFullName}}</span>
                        <span>{{diaryEntry.createdTime?.toDate() | date: 'medium'}}</span>
                    </div>
                    <div class="content">{{diaryEntry?.comment}}</div>
                </div>
            </div>
        </div>

        <div class="comment-section">
            <form class="form" [formGroup]="diaryEntryForm">
                <mat-form-field class="fill">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput [formControl]="diaryEntryForm.get('entry')" (keyup)="onKeyUp($event)">
                  </textarea>
                </mat-form-field>
            </form>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
